.button {
  background-color: var(--color-black);
  color: var(--color-primary);
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border: 2px solid var(--color-primary);
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  cursor: pointer;
}