.hero {
  background-color: var(--color-black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 0 48px;
}

@media (max-width: 768px) {
  .hero {
    height: auto;
    padding: 32px 24px;
    gap: 16px;
  }
}

.hero h1 {
  color: var(--color-white);
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 16px;
  }
}

.hero img {
  width: 212px;
}

@media (max-width: 768px) {
  .hero img {
    width: 120px;
  }
}