.search {
  padding: 10px 16px;
  height: 100%;
  border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  width: 502px;
  font-family: "Poppins", sans-serif;
}

@media (max-width: 1024px) {
  .search {
    width: 300px;
  }
}

@media (max-width: 768px) {
  .search {
    width: 260px;
    padding: 8px 10px;
    font-size: 12px;
  }
}

.wrapper {
  display: flex;
  align-items: stretch;
  height: 48px;
}

@media (max-width: 768px) {
  .wrapper {
    height: 38px;
  }
}

.searchButton {
  border-radius: 0px 8px 8px 0px;
  padding: 10px 16px;
  height: 100%;
  border: 1px solid var(--color-black);
  border-left: none;
  cursor: pointer;
  background: white;
}

.listElement {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.albumTitle {
  font-size: 16px;
}

.albumArtists {
  font-size: 12px;
}